

.palette-container {
  width: 300px;
  display: flex;
  align-content: stretch;
  background-color: #b5b4b4;
  flex-direction: column;
  /* border: 2px solid black; */
}

.palette-header {
  background-color: white;
  color: black;
  
}

.palette-btn-container {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 3fr;
  flex-grow: 2;
  border: 2px solid black;
}

.PegRow-markers-container {
  flex-grow: 1fr;
  flex-grow: 1;
  border: 2px solid black;
}

.PegRow-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  margin: 3px 5px 0 5px;
}