.GameScreen-container {
  /* GameScreen-container has two divs GameScreen-header and what's returned from <GameBoard /> */
  height: 100vh;
  border: .5px solid black;
}

.GameScreen-heading {
  height: 10vh;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 2em;
}

/* This should really be a Modal Button */
.GameScreen-btn {
  position: absolute;
  right: 0px;
  width: 200px;
  height: 35px;
  font-size: 16px;
  border-radius: 15px;
  background-color: #00d8ff
}

