.GameBoard-container {
  height: 75vh;
  width: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 45vw;
}

@media (max-width: 550px) {
  .GameBoard-container {
    margin-top: 0px;
    margin-left: 10%;
  }
}