.GameBoard-container {
  height: 100vh;
}

.GameBoard-heading {
  height: 10vh;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 2em;
}

.GameBoard-playarea {
  height: 100vh;
  Width: 50vw;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}