.App {
  text-align: center;
  border: 2px solid red;
}

.App-logo {
  margin-top: 20%;
  animation: App-logo-spin infinite 20s linear;
  height: 180px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.IntroScreen-container {
  border: 2px solid pink;
  height: 100vh;
  background-color: black;
  color: white;
  
}
